@media (min-width:600px) {
    nav {
      float: left;
      width: 25%;
      border: beige;
      border-style: solid;
    }
    section {
      margin-left: 25%;
      border: beige;
      border-style: solid;
    }
}

@media (max-width:599px) {
    nav li {
      display: inline;
    }
}

.container {
    position: relative;
    border-style: solid;
    border: beige;
}

body {
    background-color: firebrick;
    font-family: Georgia, 'Times New Roman', Times, serif;
}