.container {
    position: relative;
    border: black;
    border-style: solid;
    height: 148px;
}

h1 {
    font-size: xx-large;
}

nav {
    position: absolute;
    left: 0;
    width: 400px;
    border: gold;
    border-style: solid;
    background-color: firebrick;
}

section {
    margin-left: 420px;
    border: gold;
    border-style: solid;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gold;
    left: 0;
    height: 100px;
    border:darkred ;
    border-style: solid;
    text-align: center;
    font-size: xx-large;
}

body {
    background-color: khaki;
    margin-bottom: 120px;
}